@media (min-width: 768px) { 
	
	.headmast {
		text-align: left;

		img {
			float: left;
		}

		h1 {
			padding: 33px 0 0 0;
			font-size: 37px;
		}
	}
	

	.social-link {
		top: 28px;
		position: absolute;
		right: 20px;
	}

	.contact {
		top: 133px;
		position: absolute;
		right: 20px;
	}


	.time {
		right: 20px;
		top: 4px;
		position: absolute;
		text-align: left;
		margin: 10px 0 20px;
		width: auto;
	}
}