@charset "CP850";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?53069546");
  src: url("../font/fontello.eot?53069546#iefix") format("embedded-opentype"), url("../font/fontello.woff?53069546") format("woff"), url("../font/fontello.ttf?53069546") format("truetype"), url("../font/fontello.svg?53069546#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53069546#fontello') format('svg');
  }
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000322}}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000353}}
.icon-flickr:before {
  content: '\e805';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000354}}
.icon-linkedin:before {
  content: '\e804';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000355}}
.icon-facebook:before {
  content: '\e803';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000356}}
.icon-ok:before {
  content: '\e800';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000357}}
.icon-mail-alt:before {
  content: '\e801';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/websites\/resume\/sass\/fontello\.scss}line{font-family:\0000358}}
.icon-phone:before {
  content: '\e802';
}

/* '' */
